{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <h1>Update Todo</h1>
    <form action="/update/{{todo.Sno}}" method="POST">
        <div class="row">
            <div class="col">
                <input type="text" name="title" class="form-control" placeholder="Enter Your todo"
                    aria-label="First name" value="{{todo.title}}">
            </div>
            <div class="col">
                <input type="text" name="desc" class="form-control" placeholder="Todo -Description"
                    aria-label="Last name" value="{{todo.desc}}">
            </div>
            <div class="col-12 my-3">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>
    </form>
</div>

<!-- <div class="container my-10">
    <h2>Update todos</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if allTodo|length == 0 %}
            <tr>
                <td colspan="5" class="text-center">No todos found</td>
            </tr>
            {% endif %}

            {% for todo in allTodo %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                    <a href="/delete/{{todo.Sno}}" type="button" class="btn btn-success mx-2 btn-sm">Delete
                    </a>
                    <a href="/update/{{todo.Sno}}" type="button" class="btn btn-danger  mx-2 btn-sm">Update
                    </a>


                </td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
</div> -->



{% endblock body %}